* {
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 20px;
}

.bg-custom {
    background-color: aliceblue;
}

.limit-size {
    width: 100%;
    box-sizing: border-box;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.hide {
    display: none !important;
}

#delete-board-submit {
    width: 100%;
    box-sizing: border-box;
}

#delete-board-form {
    margin: 0;
    padding: 0;
    width: 100%;
}

#navbar-app {
    border-radius: 8px;
}

#footer-app {
    position: relative;
    bottom: 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
}